@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1111px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}


html, body {
    /* overflow-x: hidden; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #d8d8d8 !important;
}
