@import "tailwindcss";
@plugin "daisyui";

@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

html, body {
    background-color: #d8d8d8 !important;
}
